*,::after,::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    overflow: hidden;
    background: black;
}
h1 {
    color: white;
}
.nav {
    left: -100%;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 99;
    display: grid;
    /* grid-template-rows: 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.nav-red{
    left: -100%;
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 90;
    background-color: red;
  
}

.nav_content{
    /* grid-area: 2/2/3/6; */
    display: grid;
    /* grid-template-rows: 1fr 1fr; */
    grid-column-start: 2;
    grid-column-end: 4;
    color: #111111;
    /* font-family: "Montserrat",sans-serif; */
    margin-top: 20%;

    /* display: flex; */
    /* flex-direction: column; */


}

.links{
    /* isplay: flex; */
   /* // flex-direction: column; */
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    font-size: 6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    line-height: 1;
    margin-top: 0;
    padding:0;
    
   


    
   
}
.links :hover{
    color: red;
}
.link {
    text-decoration: none;
    color: black;


}

.nav-btn{
    margin-left: 22px;
    position: absolute;
    top: 50%;
    left: 0;
    text-align: left;
    z-index: 100;
    cursor: pointer;
    color: red;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 2px;
    background-color: red;
    margin: 6px 10px;
    transition: 0.4s;
}

.change .bar1 {
    background-color: red;
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    background-color: red;
    -webkit-transform: rotate(45deg) translate(-4px, -4px);
    transform: rotate(45deg) translate(-4px, -4px);
}
@media only screen and (max-width: 600px) {
    .links {
        font-size: 3rem;
        top: 0;
        left: 15%;
        position: absolute;
        transform: translate(0 , 50%)
    }
}